.banner
{
  background-image: url('https://assets-global.website-files.com/5c8953b557d74f690470eb19/61ca30466cb6db42c43702b3_Blog%20headers.png');
  height:900px;

}
h1
{
  text-align: center;
}
table{
text-align: justify;
}
